/* APM Specific */
#wheelOfFortune {
	border-radius: 50%;
	width: 50%;
	height: auto;
	padding-top: 50%;
	background: #ef8913;
}

#wheelOfFortune>span#text{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#wheelOfFortune:hover {
  cursor: pointer;
}s