/* APM Specific */
#wheelOfFortune {
	margin: 0 auto;
	border-radius: 50%;
	width: 70%;
	height: 70%;
	padding-top: 70%;

	/*background: #ef8913;
	background: -webkit-linear-gradient(left, orange, orange 20%, black 20%, black);*/
	background: -moz-linear-gradient(left, red, red 20%, blue 20%, blue);
	/*background-image: url('../img/bg-1.gif');*/
	background-repeat: no-repeat;
}

#wheelOfFortune:hover {
  cursor: pointer;
}